.carousel-inner img {
    width: 100%;
    height: 500px;
}

.navbar ul li a:hover {
    color: darkblue;
    border-left: 4px solid blueviolet;
}

.bg {
    background-color: rgba(160, 212, 111, 0.884);
}

.active {
    color: darkblue;
    border-left: 4px solid rgb(36, 6, 63);
}